{
  "env": {
    "browser": true,
    "es2020": true
  },
  // "parser": "babel-eslint",
  "extends": ["plugin:react/recommended", "airbnb", "prettier", "plugin:jest/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier", "jest"],
  "rules": {
    "prettier/prettier": ["error", { "parser": "flow", "endOfLine": "auto" }],
    "linebreak-style": [0, "error", "windows"],
    "import/prefer-default-export": "off",
    "no-shadow": "off",
    "react/forbid-prop-types": "off",
    "no-alert": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "react/jsx-props-no-spreading": "off", // props spreading,  
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-wrap-multilines": "off",
    "camelcase": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-use-before-define": "error",
    "global-require": "off"
  }
}
